<a href="https://colab.research.google.com/github/albreyes/PE-A-11/blob/master/fallas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
from urllib.request import urlopen
#from pgmpy.models import BayesianModel
#import pandas.util.testing as tm

In [65]:
data1=pd.read_csv(urlopen("https://raw.githubusercontent.com/karlajagg/data/master/tipofallas.csv"))
data1.head()

   NAME    AB    ST   EHG    AP  CHCH  ...  FALLA  TIPO  DESC  OBS  CORR  TipoFALLA
0   1.0  10.0  10.0  10.0  10.0  10.0  ...    NaN   NaN   NaN  NaN   NaN        NaN
1   2.0  10.0  10.0  10.0  10.0  10.0  ...    NaN   NaN   NaN  NaN   NaN        NaN
2   3.0  10.0  10.0  10.0  10.0  10.0  ...    NaN   NaN   NaN  NaN   NaN        NaN
3   4.0  10.0  10.0  10.0  10.0  10.0  ...    NaN   NaN   NaN  NaN   NaN        NaN
4   5.0  10.0  10.0  10.0  10.0  10.0  ...    NaN   NaN   NaN  NaN   NaN        NaN

[5 rows x 35 columns]

In [66]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NAME       519 non-null    float64
 1   AB         518 non-null    float64
 2   ST         518 non-null    float64
 3   EHG        518 non-null    float64
 4   AP         518 non-null    float64
 5   CHCH       518 non-null    float64
 6   BC         518 non-null    float64
 7   CIM        518 non-null    float64
 8   PCI        518 non-null    float64
 9   DES        518 non-null    float64
 10  EST        518 non-null    float64
 11  LC         518 non-null    float64
 12  FA         518 non-null    float64
 13  CAA        518 non-null    float64
 14  CEXA       518 non-null    float64
 15  CHC        518 non-null    float64
 16  CHH        518 non-null    float64
 17  CAMG       518 non-null    float64
 18  COND       518 non-null    float64
 19  CECN       518 non-null    float64
 20  SEP        518 non-null    float64
 21  CE         518 non-null    float64
 22  BRE        518 non-null    float64
 23  ACC        518 non-null    float64
 24  COM        518 non-null    float64
 25  NOMS       518 non-null    float64
 26  T          518 non-null    float64
 27  LT         523 non-null    object
 28  KM         13 non-null     float64
 29  FALLA      15 non-null     object
 30  TIPO       15 non-null     object
 31  DESC       13 non-null     object
 32  OBS        0 non-null      float64
 33  CORR       13 non-null     object
 34  TipoFALLA  15 non-null     float64
dtypes: float64(30), object(5)
memory usage: 143.4+ KB

In [67]:
data1=data1.drop(['NAME','T','LT','KM','FALLA','TIPO','DESC','OBS','CORR'],axis=1)

In [68]:
data1=data1.dropna(subset=['TipoFALLA'])

In [69]:
data1=data1.dropna()

In [70]:
data1

       AB    ST   EHG    AP  CHCH    BC  ...    CE  BRE   ACC   COM  NOMS  TipoFALLA
33   10.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0  10.0  10.0   4.0        1.0
50   10.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   4.0  10.0   4.0        1.0
53   10.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   4.0  10.0   4.0        1.0
224   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0  10.0  10.0   4.0        2.0
310   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0  10.0  10.0  10.0        3.0
384   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0  10.0   4.0        4.0
388   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0  10.0   4.0        5.0
440   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0  10.0   4.0        6.0
441   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0  10.0   4.0        7.0
490  10.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0   0.0   4.0        1.0

[10 rows x 26 columns]

In [71]:
#etiqueta=['AB', 	'ST', 	'EHG', 	'AP', 	'CHCH', 	'BC', 	'CIM',	'PCI', 	'DES', 	'EST', 	'LC', 	'FA', 	'CAA', 	'CEXA', 	'CHC', 	'CHH', 	'CAMG', 	'COND', 	'CECN', 	'SEP', 	'CE', 	'BRE', 	'ACC', 	'COM', 	'NOMS', 	'TipoFALLA']
#data1['AB'].astype(np.int64)
#pd.to_numeric(data1, downcast='integer')

In [72]:
data1

       AB    ST   EHG    AP  CHCH    BC  ...    CE  BRE   ACC   COM  NOMS  TipoFALLA
33   10.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0  10.0  10.0   4.0        1.0
50   10.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   4.0  10.0   4.0        1.0
53   10.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   4.0  10.0   4.0        1.0
224   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0  10.0  10.0   4.0        2.0
310   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0  10.0  10.0  10.0        3.0
384   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0  10.0   4.0        4.0
388   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0  10.0   4.0        5.0
440   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0  10.0   4.0        6.0
441   6.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0  10.0   4.0        7.0
490  10.0  10.0  10.0  10.0  10.0  10.0  ...  10.0  8.0   6.0   0.0   4.0        1.0

[10 rows x 26 columns]

In [73]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 33 to 490
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AB         10 non-null     float64
 1   ST         10 non-null     float64
 2   EHG        10 non-null     float64
 3   AP         10 non-null     float64
 4   CHCH       10 non-null     float64
 5   BC         10 non-null     float64
 6   CIM        10 non-null     float64
 7   PCI        10 non-null     float64
 8   DES        10 non-null     float64
 9   EST        10 non-null     float64
 10  LC         10 non-null     float64
 11  FA         10 non-null     float64
 12  CAA        10 non-null     float64
 13  CEXA       10 non-null     float64
 14  CHC        10 non-null     float64
 15  CHH        10 non-null     float64
 16  CAMG       10 non-null     float64
 17  COND       10 non-null     float64
 18  CECN       10 non-null     float64
 19  SEP        10 non-null     float64
 20  CE         10 non-null     float64
 21  BRE        10 non-null     float64
 22  ACC        10 non-null     float64
 23  COM        10 non-null     float64
 24  NOMS       10 non-null     float64
 25  TipoFALLA  10 non-null     float64
dtypes: float64(26)
memory usage: 2.1 KB

In [74]:
from sklearn.model_selection import train_test_split
X_all = data1.drop(['TipoFALLA'], axis=1)

#Borramos las columnas Survived 
y_all = data1['TipoFALLA']

num_test = 0.20 # aquí se está especificando 20% para test
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [75]:
y_train

384    4.0
388    5.0
53     1.0
441    7.0
310    3.0
440    6.0
224    2.0
50     1.0
Name: TipoFALLA, dtype: float64

In [76]:
# Seleccionamos el tipo de clasificador, en este caso RandomForest. 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)
# entrenamiento
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [77]:
from sklearn.metrics import make_scorer, accuracy_score, f1_score
predictions = clf.predict(X_test)
# se imprime el accuracy
print("Accuracy: ", accuracy_score(y_test, predictions))
#Imprimimos la f-score
#print("F1-Score: ", f1_score(y_test, predictions))

Accuracy:  0.5

In [78]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, X_train, y_train, cv=2)
print(scores)

[0.25 0.25]

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  % (min_groups, self.n_splits)), UserWarning)